---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "./styles/index.css";
import Hero from "../components/Hero.astro";
---

<!-- src/pages/about.astro -->
<Navbar />
<Hero />
<div class="full-width about-us-desktop">
  <object data="/Home.svg" type="image/svg+xml"></object>
</div>

<Footer />

<style>
  .full-width {
    width: 100%;
    margin-top: -10%;
    object {
      width: 100%;
    }
    svg {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    /* Styles for tablets and mobile */
    .full-width {
      width: 100%;
      margin-top: -150px !important;
    }
  }
</style>
