<section class="services">
  <div class="section-bg">
    <object data="/servicesbg.svg" type="image/svg+xml"></object>
  </div>
  <div class="section-title">Company Values</div>
  <div class="services-container">
    <div class="services-row service-row-1">
      <div class="service service-1">
        <div class="service-content">
          Custom Offshore Software Development Services
        </div>
      </div>
      <div class="service service-2">
        <div class="service-content">UI/UX Design</div>
      </div>
    </div>
  </div>
  <div class="services-container">
    <div class="services-row service-row-2">
      <div class="service service-3">
        <div class="service-content">SAAS Development</div>
      </div>
      <div class="service service-4">
        <div class="service-content">Web Development</div>
      </div>
    </div>
  </div>
  <div class="services-container">
    <div class="services-row service-row-3">
      <div class="service service-5">
        <div class="service-content">Cloud Based Development</div>
      </div>
      <div class="service service-6">
        <div class="service-content">Support & Maintenance</div>
      </div>
    </div>
  </div>
</section>

<style>
 .section-title {
      color: black;
      padding-left: 14vw;
      text-align: left;
      /* padding-top: 70px; */
    }
  .section-bg {
    position: absolute;
    z-index: -1;
    width: var(--section-width);
    object {
      width: 100%;
    }
  }
  .services-row {
    display: flex;
    gap: 20px;
  }

  .service-content {
    padding: 20px;
    border-radius: 24px;
    font-family: BlackMango;
    font-size: 1.2vw;
    font-weight: 600;
  }
  .services {
    width: var(--section-width);
    margin-top: 255px;
    margin-bottom: 200px;
  }
  .service {
    color: white;
    background-color: black;
    width: 18vw;
    height: 10vw;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .service-1 {
    margin-left: 3%;
  }
  .service-2 {
    margin-left: 23%;
  }
  .service-3 {
    margin-left: 26%;
  }
  .service-4 {
    margin-left: 22%;
  }
  .service-5 {
    margin-left: 3%;
  }
  .service-6 {
    margin-left: 23%;
  }
  .service-row-1 {
    margin-top: 40px;
  }
  .service-row-2 {
    margin-top: 15px;
  }
  .service-row-3 {
    margin-top: 10px;
  }
</style>
