
<div class="wrapper">
  <div class="hero">
    <div class="page-title">Offshore Software Development Company</div>
    <div class="home-section">
      <div class="home-text">
        Ordnungskraft exists to empower businesses to go beyond their
        limitations and achieve their wildest dreams through the transformative
        power of innovative, high-quality software solutions.
      </div>
      <img src="/homepage-map.svg" alt="" />
    </div>
    <a href="/contact"> <button> Schedule a call today </button></a>
  </div>
  <div class="hero-bottom">
    <object data="/Hero bottom.svg" type="image/svg+xml"></object>
  </div>
</div>

<style>
  .sign {
    position: absolute;
    left: 0;
    top: 70px;
    z-index: -1;
    width: 50%;
  }
  .home-text {
    font-size: 150%;
  }
.hero-bottom{
  width: 100%;
  z-index: -1;
  object{
    margin-top: -450px;
    width: 100%;
  }
}
  .hero {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2000;
    margin-left: 10%;
    margin-bottom: 100px;
  }
  .home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  

</style>
