<!-- src/components/Navbar.astro -->
 <head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
 </head>
 <div class="wrapper">

<nav class="navbar">

  <div class="logo">
  <a href="/">
    <img src="/Logo.png" alt=""></a>
  </div>
  <div class="navbar-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
  </nav>
</div>

  <style>
    .navbar {
      font-family: "Libre Baskerville", serif;
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #000000;
      padding: 20px 30px;
      .logo{
        width: 70px;
      }
    }
    .navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
    }
    .navbar li {
      margin-right: 20px;
    }
    .navbar a {
      color: #fff;
      text-decoration: none;
    }
    .navbar a:hover {
      color: #ccc;
    }
  </style>