<section class="ourclients-section">
    <div class="section-bg">
      <object data="/OurClientsBg.svg" type="image/svg+xml"></object>
  </div>
  <div class="section-title">Our Clients</div>
  <div class="clients"></div>
  </section>
  
  <style>
    .clients {
      height: 160vh;
    }
    .section-title {
      text-align: left;
      padding-top: 80px;
      margin-left: 10%;
      padding-top: 140px;
    }
    .section-bg {
      position: absolute;
      padding: auto;
      z-index: -2;
      width: var(--section-width);
      object {
          width: 100%;
        }
    }
  </style>
  