<section class="our-numbers-section">
  <div class="section-bg">
    <object data="/OurNumbersBg.svg" type="image/svg+xml"></object>
</div>
<div class="section-title">Our Numbers</div>
<div class="cards">
  <div class="card">
    <div class="card-content">100</div>
  </div>
  <div class="card">
    <div class="card-content">03</div>
  </div>
  <div class="card">
    <div class="card-content">17</div>
  </div>
</div>
<div class="cards-bottom">
  <div class="card-bottom">
    Projects Completed
  </div>
  <div class="card-bottom">Years in Business
  </div>
  <div class="card-bottom">Team Members
  </div>
</div>
</section>

<style>
  .card-bottom{
    color: white;
    font-size: 2vw;
  }
  .our-numbers-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;

  }
    .card-content{
      font-family: BlackMango;  
      font-weight: bold;

      color: rgb(0, 0, 0, 0.5);
        font-size: 5vw;
    }
  .section-title {
    padding-top: 100px;
    color: white;
    padding-right: 14vw;
    text-align: right;
  }
  .section-bg {
    position: absolute;
    width: var(--section-width);
    margin-top: -18vw;
    z-index: -1;
    object {
      width: 100%;
    }
  }
  .cards, .cards-bottom {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 8%;
    justify-content: space-around;
    margin-top: 20px;
  }
  .card{
    width: 200px;
    height: 200px;
    background-image: url("/Glare.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  </style>
