
<div class="process-container">
  <div class="section-bg">
    <object data="/OurProcessBg.svg" type="image/svg+xml"></object>
  </div>
  <div class="section-title">Our Process</div>
  

  <div class="process-flow-row row-1">
    <div class="process-step step-1">Client Brief</div>
    <div class="process-step step-2">Research</div>
    <div class="process-step step-3">Analysis</div>
    <div class="process-step step-4">Design</div>
  </div>
  <div class="process-flow-row row-2">
    <div class="process-step step-5">Testing</div>
    <div class="process-step step-6">Deployment</div>
    <div class="process-step step-7">Maintenance</div>
  </div>
</div>
<style>
  .section-bg{
    position: absolute;
    width: var(--section-width);
    z-index: -1;
    object {
      width: 100%;
    }
  }
.process-container{
  /* margin-top: 260px; */
  margin-bottom: 100px;
}
.process-flow-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 18vw;
  /* margin-top: 100px; */
  font-size: 24px;
  font-weight: 600;
}
.row-1{
    margin-top: 5.5vw;
    margin-left: 5vw;
}
.row-2{
    margin-top: 10vw;
    margin-left: 20vw;
}
.process-flow-row{
  font-size: 2.3vw;
}


</style>