<section class="tech-stack-section">
  <div class="section-bg">
    <object data="/TechStackBg.svg" type="image/svg+xml"></object>
  </div>
  <div class="section-title">Tech Stack</div>
  <div class="cards row-1">
    <div class="card">
      <object class="glare" data="/Glare.svg" type="image/svg+xml"></object>
      <div class="row">
        <object data="/backend-icons/backend (1).svg" type="image/svg+xml"
        ></object>
        <object data="/backend-icons/backend (2).svg" type="image/svg+xml"
        ></object>
      </div>

      <div class="row">
        <object data="/backend-icons/backend (3).svg" type="image/svg+xml"
        ></object>
      </div>
      <div class="row">
        <object data="/backend-icons/backend (4).svg" type="image/svg+xml"
        ></object>
        <div class="card-title">Back End</div>
        <object data="/backend-icons/backend (5).svg" type="image/svg+xml"
        ></object>
      </div>

      <div class="row">
        <object data="/backend-icons/backend (6).svg" type="image/svg+xml"
        ></object>
      </div>
      <div class="row">
        <object data="/backend-icons/backend (7).svg" type="image/svg+xml"
        ></object>
      </div>
    </div>
    <div class="card">
      <object class="glare" data="/Glare.svg" type="image/svg+xml"></object>
      <div class="row">
        <object data="/frontend-icons/frontend (1).svg" type="image/svg+xml"
        ></object>
        <object data="/frontend-icons/frontend (2).svg" type="image/svg+xml"
        ></object>
        <object data="/frontend-icons/frontend (3).svg" type="image/svg+xml"
        ></object>
      </div>

      <div class="row">
        <object data="/frontend-icons/frontend (4).svg" type="image/svg+xml"
        ></object>
      </div>
      <div class="row">
        <object data="/frontend-icons/frontend (5).svg" type="image/svg+xml"
        ></object>
        <div class="card-title">Front End</div>
        <object data="/frontend-icons/frontend (6).svg" type="image/svg+xml"
        ></object>
      </div>

      <div class="row">
        <object data="/frontend-icons/frontend (7).svg" type="image/svg+xml"
        ></object>
      </div>
      <div class="row">
        <object data="/frontend-icons/frontend (8).svg" type="image/svg+xml"
        ></object>
        <object data="/frontend-icons/frontend (9).svg" type="image/svg+xml"
        ></object>
      </div>
    </div>
  </div>
  <div class="cards cards-row-2">
    <div class="card">
      <object class="glare" data="/Glare.svg" type="image/svg+xml"></object>
      <div class="row">
        <object data="/devops-icons/devops (1).svg" type="image/svg+xml"
        ></object>
        <object data="/devops-icons/devops (2).svg" type="image/svg+xml"
        ></object>
        <object data="/devops-icons/devops (3).svg" type="image/svg+xml"
        ></object>
      </div>

      <div class="row">
        <object data="/devops-icons/devops (4).svg" type="image/svg+xml"
        ></object>
      </div>
      <div class="row">
        <object data="/devops-icons/devops (5).svg" type="image/svg+xml"
        ></object>
        <div class="card-title">DevOps & Cloud</div>
        <object data="/devops-icons/devops (6).svg" type="image/svg+xml"
        ></object>
      </div>

      <div class="row">
        <object data="/devops-icons/devops (7).svg" type="image/svg+xml"
        ></object>
      </div>
      <div class="row">
        <object data="/devops-icons/devops (8).svg" type="image/svg+xml"
        ></object>
        <object data="/devops-icons/devops (9).svg" type="image/svg+xml"
        ></object>
        <object data="/devops-icons/devops (10).svg" type="image/svg+xml"
        ></object>
      </div>
    </div>
    <div class="card">
      <object class="glare" data="/Glare.svg" type="image/svg+xml"></object>
      <div class="row">
        <object data="/db-icons/db (1).svg" type="image/svg+xml"
        ></object>
        <object data="/db-icons/db (2).svg" type="image/svg+xml"
        ></object>
      </div>

      <div class="row">
        <object data="/db-icons/db (3).svg" type="image/svg+xml"
        ></object>
      </div>
      <div class="row">
        <object data="/db-icons/db (4).svg" type="image/svg+xml"
        ></object>
        <div class="card-title">Database Development</div>
        <object data="/db-icons/db (5).svg" type="image/svg+xml"
        ></object>
      </div>

      <div class="row">
        <object data="/db-icons/db (6).svg" type="image/svg+xml"
        ></object>
      </div>
      <div class="row">
        <object data="/db-icons/db (7).svg" type="image/svg+xml"
        ></object>
        <object data="/db-icons/db (8).svg" type="image/svg+xml"
        ></object>
    </div>
    </div>
  </div>
</section>

<style>
  .tech-stack-section {
    margin-top: 100px;
  }
  .section-title {
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 15%;
   padding-top: 140px;
  }
  .section-bg {
    position: absolute;
     width: var(--section-width);
     /* margin-top: -18vw; */
    z-index: -1;
    object {
      width: 100%;
    }
  }

  .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-top: 4vw;
    margin-left: 9vw;
  }
.row-1{
  margin-left: 35vw;
}
  .cards-row-2 {
    margin-left: 15vw;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    object {
      width: 3.5vw;
      z-index: 10;
    }
  }
  .card {
    background-color: black;
    width: 25vw;
    height: 18vw;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    /* gap: 1vw; */
    .glare {
      position: absolute;
      width: 12vw;
    }
    .card-title {
      color: black;
      font-family: BlackMango;
      font-size: 1.2vw;
      font-weight: bold;
      z-index: 2;
      text-align: center;
    }
  }
</style>
