<section class="worldwide-section">
  <div class="section-bg">
    <object data="/map and signs.svg" type="image/svg+xml"></object>
</div>
<div class="section-title">Worldwide Satisfied Clients</div>
</section>

<style>
  .worldwide-section{
    padding-bottom: 100px;
    height: 900px;
  }
.section-title {
  padding-top: 50px;
    color: black;
    padding-left: 14vw;
    text-align: left;
  }
  .section-bg {
    position: absolute;
    width: var(--section-width);
    margin-top: -18vw;
    z-index: -1;
    object {
      width: 100%;
    }
  }

</style>
